version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: cxldb
      MYSQL_USER: cxluser
      MYSQL_PASSWORD: dbpassword
      TZ: Asia/Ho_Chi_Minh
    volumes:
      - ./data:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    environment:
      PMA_HOST: mysql
      TZ: Asia/Ho_Chi_Minh
    ports:
      - "6868:80"
    depends_on:
      - mysql
    networks:
      - app-network
networks:
  app-network:
    driver: bridge
   